<div class="container">
  <h1 class="text-center display-5 mt-5 mb-5">Users</h1>
  <hr>
  <div *ngFor="let user of users" class="card mb-3" >
    <div class="card-body">
      <h5 class="card-title">{{ user.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ user.email }}</li>
      <li class="list-group-item">{{ user.phone }}</li>
      <li class="list-group-item">
        {{ user.address.city }}, {{ user.address.street }}, {{ user.address.suite }}
      </li>
    </ul>
  </div>
</div>
