<div class="container">
  <h1 class="text-center display-5 mt-5 mb-5">Register Users</h1>
  <hr>
  <form (ngSubmit)="onSubmit()" #registerUser="ngForm">
    <div class="mb-3">
      <label for="userName" class="form-label me-2">Username:</label>
      <div class="d-flex ">
        <div>
          <input type="text" class="form-control me-5" id="userName" placeholder="Enter your username" name="user"
            required [(ngModel)]="user">
          <!-- Display message based on usernameExists -->
          <!-- <span *ngIf="usernameExists === true" class="text-danger">Username already exists</span>
          <span *ngIf="usernameExists === false" class="text-success">Username available</span> -->

          <span class="text-success">{{text}}</span>

        </div>
        <div>
          <button type="submit" class="btn btn-primary ms-2" [disabled]="user.length===0">Check</button>
        </div>
      </div>
    </div>
  </form>
</div>